.account-page {
  fieldset {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

.profile-settings-sidebar {
  a {
    color: $profile-settings-link-color;
  }
}

.avatar-image {
  @media (min-width: $screen-sm-min) {
    float: left;
    margin-bottom: 0;
  }
}

.avatar-file-name {
  position: relative;
  top: 2px;
  display: inline-block;
}

.oauth-buttons {
  .btn-group {
    margin-right: 10px;
  }

  .btn {
    line-height: 40px;
    height: 42px;
    padding: 0px 12px;

    img {
      width: 32px;
      height: 32px;
    }
  }
}

// Profile > Account > Two Factor Authentication
.two-factor-new {
  .manual-instructions {
    h3 {
      margin-top: 0;
    }

    // Slightly increase the size of the details so they're easier to read
    dl {
      font-size: 1.1em;
    }
  }
}

.calendar-hint {
  margin-top: -12px;
  float: right;
  font-size: 12px;
}

.profile-link-holder {
  display: inline;

  a {
    color: $blue-dark;
    text-decoration: none;
  }
}

// Middle dot divider between each element in a list of items.
.middle-dot-divider {
  &:after {
    content: "\00B7"; // Middle Dot
    padding: 0 6px;
    font-weight: bold;
  }

  &:last-child {
    &:after {
      content: "";
      padding: 0;
    }
  }
}

.profile-user-bio {
  // Limits the width of the user bio for readability.
  max-width: 750px;
  margin: auto;
}

.user-avatar-button {
  .file-name {
    display: inline-block;
    padding-left: 10px;
  }
}

.modal-profile-crop {
  .modal-dialog {
    width: 500px;
  }

  .modal-body {
    p {
      display: table;
      margin: auto;
      overflow: hidden;
    }

    img {
      display: block;
      max-width: 400px;
      max-height: 400px;
    }

    .cropper-bg {
      background: none;
    }

    .cropper-crop-box {
      box-sizing: content-box;
      border: 999px solid transparentize(#ccc, 0.5);
      @include transform(translate(-999px, -999px));
    }
  }
}

@media (max-width: 520px) {
  .modal-profile-crop .modal-dialog {
    width: auto;
  }
}
