- if @project.mirror?
  .gray-content-block.second-block
    .pull-right
      = render "shared/mirror_update_button"

    - import_url = @project.safe_import_url
    .oneline
      This project is mirrored from #{link_to import_url, import_url}.

      = render "shared/mirror_status"

      - if @ref.present? && @project.mirror_ever_updated_successfully? && @repository.diverged_from_upstream?(@ref)
        %span.has_tooltip{data: { html: "true", title: branch_diverged_tooltip_message }}
          = icon('exclamation-triangle')
          This branch has diverged from upstream.
